[project]
name = "pydiverse-pidepag"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64"]  # "linux-aarch64",

[dependencies]
python = ">=3.9"
pandas = ">=1.4.3, <3"
SQLAlchemy = ">=1.4.39, <3"
typing-extensions = ">=4.1.0"
networkx = ">=2.8"
attrs = ">=22.1.0"
structlog = ">=22.1.0"
pynng = ">=0.7.1"
msgpack-python = ">=1.0.4"
packaging = ">=21.3"
python-box = ">=6.1.0"
PyYAML = ">=6.0"
pyarrow = ">=11.0.0"
cryptography = ">=41.0.1"
pydot = ">=1.4.2"
click = ">=8.1.3"
pyparsing = ">=3.0"

[host-dependencies]
pip = "*"
hatchling = "*"

[feature.filelock.dependencies]
filelock = ">=3.7.1"

[feature.zookeeper.dependencies]
kazoo = ">=2.8.0"

[feature.dask.dependencies]
# is also used by computation tracer when running all tests
dask = ">=2022.1.0"

[feature.prefect.dependencies]
prefect = ">=2.13.5,<3a0"

[feature.snowflake.dependencies]
snowflake-sqlalchemy = ">=1.6.1"

[feature.dev.dependencies]
pytest = ">=7.2.0"
pytest-mock = ">=3.10.0"
pytest-timeout = ">=2.1.0"
ruff = ">=0.5.1"
pre-commit = ">=3.7.1"
psycopg2 = ">=2.9.3"
duckdb = ">=0.8.1"
duckdb-engine = ">=0.7.3"
pixi-pycharm = "*"

[feature.tidypolars.dependencies]
tidypolars = ">=0.2.19"

[feature.all-tests.dependencies]
# Table Hooks
pydiverse-transform = ">=0.1.3, <0.2"
ibis-framework = ">=5.1.0, <9"
ibis-mssql = ">=5.1.0, <9"
ibis-postgres = ">=5.1.0, <9"
polars = ">=0.19, <2"
arrow-odbc = ">=7.0.4"
# MSSQL
pyodbc = ">=4.0.35"
pytsql = ">=1.1.4"

# IBM DB2
[feature.ibm-db]
platforms = ["linux-64", "osx-arm64", "win-64"]

[feature.ibm-db.dependencies]
ibm_db = ">=3.2.5"
ibm_db_sa = ">=0.3.8"

[feature.docs.dependencies]
Sphinx = ">=7.3.7"
furo = ">=2023.5.20"
sphinxcontrib-apidoc = ">=0.3.0"
myst-parser = ">=2.0.0"
sphinx-click = ">=4.4.0"
sphinx-autobuild = ">=2021.3.14"
sphinx-copybutton = ">=0.5.2"

[tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e ."

[feature.docs.tasks]
docs = "cd docs && make html "
readthedocs = "rm -rf $READTHEDOCS_OUTPUT/html && cp -r docs/build/html $READTHEDOCS_OUTPUT/html"

[feature.release.dependencies]
hatch = ">=1.12.0"
twine = ">=5.1.1"

[feature.py39.dependencies]
python = "3.9.*"
[feature.py310.dependencies]
python = "3.10.*"
[feature.py311.dependencies]
python = "3.11.*"
[feature.py312.dependencies]
python = "3.12.*"
[feature.pd1.dependencies]
pandas = ">=1.4.3, <2"
[feature.pd2.dependencies]
pandas = ">=2"
[feature.sa1.dependencies]
sqlalchemy = ">=1.4.39, <2"
[feature.sa2.dependencies]
sqlalchemy = ">=2"
[feature.duckdb0.dependencies]
duckdb = "<1"
[feature.duckdb1.dependencies]
duckdb = ">=1.1"
[feature.connectorx-noarm.target.linux.dependencies]
connectorx = ">=0.3.3"
[feature.connectorx-noarm.target.win.dependencies]
connectorx = ">=0.3.3"
[feature.connectorx-noarm.target.osx-64.dependencies]
connectorx = ">=0.3.3"

[environments]
default = ["py312", "all-tests", "dev", "filelock", "zookeeper", "dask", "prefect", "pd2", "sa2", "snowflake"]
all-tests = ["py312", "all-tests", "dev", "filelock", "zookeeper", "dask", "prefect", "pd2", "sa2", "snowflake"]
docs = ["docs"]
release = { features=["release"], no-default-feature=true }
py39 = ["py39", "dev", "zookeeper", "pd2", "sa2", "dask", "duckdb1"]
py310 = ["py310", "dev", "zookeeper", "pd2", "sa2", "dask", "duckdb1"]
py311 = ["py311", "dev", "zookeeper", "pd2", "sa2", "dask", "duckdb1"]
py312 = ["py312", "dev", "zookeeper", "pd2", "sa2", "dask", "duckdb1"]
py39pdsa1 = ["py39", "dev", "zookeeper", "pd1", "sa1", "dask", "connectorx-noarm", "duckdb0"]
py311pdsa1 = ["py311", "dev", "zookeeper", "pd1", "sa1", "dask", "connectorx-noarm", "duckdb0"]
py312pdsa1 = ["py39", "dev", "zookeeper", "pd1", "sa1", "dask", "connectorx-noarm", "duckdb0"]
py39all = ["py39", "dev", "zookeeper", "all-tests", "filelock", "dask", "prefect", "pd2", "sa2", "snowflake", "tidypolars"]
py310all = ["py310", "dev", "zookeeper", "all-tests", "filelock", "dask", "prefect", "pd2", "sa2", "snowflake", "tidypolars"]
py311all = ["py311", "dev", "zookeeper", "all-tests", "filelock", "dask", "prefect", "pd2", "sa2", "snowflake"]
py312all = ["py312", "dev", "zookeeper", "all-tests", "filelock", "dask", "prefect", "pd2", "sa2", "snowflake"]
py39pdsa1all = ["py39", "dev", "zookeeper", "pd1", "sa1", "connectorx-noarm", "all-tests", "filelock",  "dask", "prefect", "snowflake", "tidypolars"]
py311pdsa1all = ["py311", "dev", "zookeeper", "pd1", "sa1", "connectorx-noarm", "all-tests", "filelock",  "dask", "prefect", "snowflake"]
py39ibm = ["py39", "dev", "zookeeper", "pd2", "sa2", "dask", "ibm-db", "all-tests", "tidypolars"]
py312ibm = ["py312", "dev", "zookeeper", "pd2", "sa2", "dask", "ibm-db", "all-tests"]
