[tool.poetry]
name = "pydiverse.pipedag"
version = "0.1.0"
description = "A pipeline orchestration layer built on top of prefect for caching and cache invalidation to SQL and blob store targets."
authors = [
  "QuantCo, Inc.",
  "Nicolas Camenisch <garnele007@gmail.com>",
]
license = "BSD-3-Clause"
readme = "README.md"
packages = [
	{ include = "pydiverse", from = "src" }
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Intended Audience :: Science/Research",
  "Programming Language :: SQL",
  "Topic :: Database",
]

[tool.poetry.dependencies]
python = "^3.8"
prefect = "<2.0"
pandas = "^1.4.3"
SQLAlchemy = "^1.4.39"
typing-extensions = "<5, >=4.1.0"
networkx = "^2.8.5"
attrs = "^22.1.0"
structlog = "^22.1.0"
atomics = "^1.0.2"

filelock = { version = "^3.7.1", optional = true }
kazoo = { version = "^2.8.0", optional = true }

[tool.poetry.extras]
filelock = ["filelock"]
zookeeper = ["kazoo"]

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-mock = "^3.8.2"
pytest-timeout = "^2.1.0"
pytest-xdist = "^2.5.0"
black = "^22.6.0"
pre-commit = "^2.20.0"
kazoo = "^2.8.0"
psycopg2 = "^2.9.3"
pydot = "^1.4.2"

[tool.black]
exclude = '''
/(
    \.eggs
  | \.git
  | \.venv
  | build
  | dist
)/
'''
preview = true

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
ensure_newline_before_comments = true
line_length = 88
known_first_party = "pydiverse.transform"
skip_glob = '\.eggs/*,\.git/*,\.venv/*,build/*,dist/*'
default_section = 'THIRDPARTY'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
