[tool.poetry]
name = "pydiverse-pipedag"
version = "0.2.4"
description = "A pipeline orchestration library executing tasks within one python session. It takes care of SQL table (de)materialization, caching and cache invalidation. Blob storage is supported as well for example for storing model files."
authors = [
  "QuantCo, Inc.",
  "Nicolas Camenisch <garnele007@gmail.com>",
  "Martin Trautmann <windiana@users.sf.net>",
]
license = "BSD-3-Clause"
readme = "docs/package/README.md"
packages = [
	{ include = "pydiverse", from = "src" },
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Intended Audience :: Science/Research",
  "Programming Language :: SQL",
  "Topic :: Database",
]

[tool.poetry.dependencies]
python = ">=3.9, <3.11"  # currently, optional dependency tidypolars does not support python 3.11
pandas = ">=1.4.3"
SQLAlchemy = ">=1.4.39"
typing-extensions = "<5, >=4.1.0"
networkx = ">=2.8"
attrs = ">=22.1.0"
structlog = ">=22.1.0"
tomli = ">=2.0.1"
pynng = ">=0.7.1"
msgpack = ">=1.0.4"
packaging = ">=21.3"
python-box = ">=6.1.0"
PyYAML = ">=6.0"

filelock = { version = ">=3.7.1", optional = true }
kazoo = { version = ">=2.8.0", optional = true }

Sphinx = { version = ">=5.1.1", optional = true }
sphinx-rtd-theme = { version = ">=1.0.0", optional = true }
sphinxcontrib-apidoc = { version=">=0.3.0", optional = true }

pyodbc = { version = ">=4.0.35", optional = true }
pytsql = { version = ">=1.1.4", optional = true }
ibm-db = { version = ">=3.1.4", optional = true }
ibm-db-sa = { version = ">=0.3.8", optional = true }
pydiverse-transform = { version = ">=0.1.1", optional = true }
ibis = { version = ">=3.2.0", optional = true }
ibis-framework = {extras = ["mssql", "postgres"], version = "^5.1.0", optional = true }
tidypolars = { version = ">=0.2.19", optional = true }
connectorx = { version=">=0.3.1", optional = true }
pyarrow = { version=">=11.0.0", optional = true }
polars = { version=">=0.16.18,<0.17", optional = true }
prefect = { version = ">=1.3,<2", optional = true }
# for prefect 2 (radical change of paradigmns especially in task graph display => not ideal for rather linear pipeline)
# prefect = { version = "prefect>=2.0,<3", optional = true }

[tool.poetry.extras]
filelock = ["filelock"]
zookeeper = ["kazoo"]
docs = ["Sphinx", "sphinx-rtd-theme", "sphinxcontrib-apidoc"]
mssql = ["pyodbc", "pytsql"]
ibm_db2 = ["ibm-db", "ibm-db-sa"]
pdtransform = ["pydiverse-transform"]
ibis = ["ibis", "ibis-framework"]
polars = ["tidypolars", "polars", "connectorx", "pyarrow"]
prefect = ["prefect", "docker-compose"]

[tool.poetry.dev-dependencies]
pytest = ">=7.2.0"
pytest-mock = ">=3.10.0"
pytest-timeout = ">=2.1.0"
black = "^23.3.0"
isort = "^5.10.1"
ruff = ">=0.0.189"
pre-commit = ">=2.20.0"
kazoo = ">=2.8.0"
psycopg2 = ">=2.9.3"
pydot = ">=1.4.2"
setuptools = ">=65.6.3"

[tool.black]
exclude = '''
/(
    \.eggs
  | \.git
  | \.venv
  | build
  | dist
)/
'''
preview = true

[tool.ruff]
select = [
    "F",
    "E",
    "UP",
    "W",
    "I001",
    "B",
    "A",
]
force-exclude = true
extend-exclude = ["tests/*", "docs/*"]
ignore-init-module-imports = true
fix = true
target-version = "py38"

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401", "F403"]
"src/pydiverse/pipedag/backend/table/util/sql_ddl.py" = ["F811"]

[tool.ruff.isort]
known-first-party = ["pydiverse"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
