[tool.poetry]
name = "pydiverse-pipedag"
version = "0.1.0"
description = "A pipeline orchestration layer built on top of prefect for caching and cache invalidation to SQL and blob store targets."
authors = [
  "QuantCo, Inc.",
  "Nicolas Camenisch <garnele007@gmail.com>",
]
license = "BSD-3-Clause"
readme = "README.md"
packages = [
	{ include = "pydiverse", from = "src" },
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Intended Audience :: Science/Research",
  "Programming Language :: SQL",
  "Topic :: Database",
]

[tool.poetry.dependencies]
python = "^3.8"
pandas = "^1.4.3"
SQLAlchemy = "^1.4.39"
typing-extensions = "<5, >=4.1.0"
networkx = "^2.8.5"
attrs = "^22.1.0"
structlog = "^22.1.0"
tomli = "^2.0.1"
pynng = "^0.7.1"
msgpack = "^1.0.4"
packaging = "^21.3"
contextvars = "^2.4"

filelock = { version = "^3.7.1", optional = true }
kazoo = { version = "^2.8.0", optional = true }

Sphinx = { version = "^5.1.1", optional = true }
sphinx-rtd-theme = { version = "^1.0.0", optional = true }
sphinxcontrib-apidoc = { version="^0.3.0", optional = true }
python-box = "^6.1.0"

pyodbc = { version = "^4.0.35", optional = true }
pytsql = { version = "^1.1.4", optional = true }
ibm-db = { version = "^3.1.4", optional = true }
ibm-db-sa = { version = "^0.3.8", optional = true }
prefect = { version = ">=1.3,<2", optional = true }
# for prefect 2 (radical change of paradigmns especially in task graph display => not ideal for rather linear pipeline)
# prefect = { version = "prefect>=2.0,<3", optional = true }

[tool.poetry.extras]
filelock = ["filelock"]
zookeeper = ["kazoo"]
docs = ["Sphinx", "sphinx-rtd-theme", "sphinxcontrib-apidoc"]
mssql = ["pyodbc", "pytsql"]
ibm_db2 = ["ibm-db", "ibm-db-sa"]
prefect = ["prefect", "docker-compose"]

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
pytest-mock = "^3.10.0"
pytest-timeout = "^2.1.0"
pytest-xdist = "^3.1.0"
black = "^22.6.0"
ruff = "^0.0.189"
pre-commit = "^2.20.0"
kazoo = "^2.8.0"
psycopg2 = "^2.9.3"
pydot = "^1.4.2"
setuptools = "^65.6.3"

[tool.black]
exclude = '''
/(
    \.eggs
  | \.git
  | \.venv
  | build
  | dist
)/
'''
preview = true

[tool.ruff]
select = [
    "F",
    "E",
    "UP",
    "W",
    "I001",
    "B",
    "A",
]
force-exclude = true
extend-exclude = ["tests/*", "docs/*"]
ignore-init-module-imports = true
fix = true
target-version = "py38"

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401", "F403"]
"src/pydiverse/pipedag/backend/table/util/sql_ddl.py" = ["F811"]

[tool.ruff.isort]
known-first-party = ["pydiverse"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
