[tool.poetry]
name = "pydiverse-pipedag"
version = "0.6.2"
description = "A pipeline orchestration library executing tasks within one python session. It takes care of SQL table (de)materialization, caching and cache invalidation. Blob storage is supported as well for example for storing model files."
authors = [
  "QuantCo, Inc.",
  "Nicolas Camenisch <garnele007@gmail.com>",
  "Martin Trautmann <windiana@users.sf.net>",
]
license = "BSD-3-Clause"
readme = "docs/package/README.md"
packages = [
	{ include = "pydiverse", from = "src" },
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Intended Audience :: Science/Research",
  "Programming Language :: SQL",
  "Topic :: Database",
]

[tool.poetry.dependencies]
python = "^3.9"
pandas = ">=1.4.3"
SQLAlchemy = ">=1.4.39"
typing-extensions = "^4.1.0"
networkx = ">=2.8"
attrs = ">=22.1.0"
structlog = ">=22.1.0"
pynng = ">=0.7.1"
msgpack = ">=1.0.4"
packaging = ">=21.3"
python-box = ">=6.1.0"
PyYAML = ">=6.0"
pyarrow = ">=11.0.0"
cryptography = ">=41.0.1"
pydot = ">=1.4.2"
click = "^8.1.3"
pyparsing = ">=3.0"

filelock = { version = ">=3.7.1", optional = true }
kazoo = { version = ">=2.8.0", optional = true }
dask = { version = ">=2022.1.0", optional = true }
prefect = { version = ">=2.6", optional = true }


[tool.poetry.extras]
filelock = ["filelock"]
zookeeper = ["kazoo"]
dask = ["dask"]
prefect = ["prefect"]

[tool.poetry.group.dev.dependencies]
pytest = ">=7.2.0"
pytest-mock = ">=3.10.0"
pytest-timeout = ">=2.1.0"
tox = "^4.6.4"

black = { version = "23.3.0", extras = ["d"] }
ruff = "^0.0.270"
pre-commit = ">=2.20.0"

kazoo = ">=2.8.0"
dask = ">=2022.1.0"
psycopg2 = ">=2.9.3"
duckdb = "^0.8.1"
duckdb-engine = "^0.7.3"

[tool.poetry.group.tests]
optional = true

[tool.poetry.group.tests.dependencies]
# Table Hooks
pydiverse-transform = "^0.1.3"
ibis-framework = { version = ">=5.1.0", extras = ["mssql", "postgres"] }
polars = ">=0.16.18"
tidypolars = { version = "^0.2.19", python = "<3.11" }
connectorx = [
    { version = ">=0.3.1", python = "<3.11" },
    { version = "0.3.2a5", python = "==3.11" }  # Latest full release is broken - unpin when 0.3.2 released
]
# MSSQL
pyodbc = ">=4.0.35"
pytsql = ">=1.1.4"
# IBM DB2
ibm-db = { version = ">=3.1.4", markers="platform_machine == 'x86_64'" }
ibm-db-sa = { version = ">=0.3.8", markers="platform_machine == 'x86_64'" }


[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
Sphinx = "^7.0.1"
furo = "^2023.5.20"
sphinxcontrib-apidoc = "^0.3.0"
myst-parser = "^2.0.0"
sphinx-click = "^4.4.0"
sphinx-autobuild = "^2021.3.14"
sphinx-copybutton = "^0.5.2"

[tool.poetry.plugins."console_scripts"]
pipedag-manage = "pydiverse.pipedag.management.cli:cli"

[tool.black]
exclude = '''
/(
    \.eggs
  | \.git
  | \.venv
  | build
  | dist
)/
'''

[tool.ruff]
select = [
    "F",
    "E",
    "UP",
    "W",
    "I001",
    "I002",
    "B",
    "A",
]
ignore = [
    "B028",
]
extend-exclude = ["docs/*"]
ignore-init-module-imports = true
fix = true
target-version = "py38"

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401", "F403"]
"src/pydiverse/pipedag/backend/table/sql/ddl.py" = ["F811"]
"tests/*" = ["F403", "F405"]

[tool.ruff.isort]
known-first-party = ["pydiverse"]
required-imports = ["from __future__ import annotations"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
