name: Tests

on:
  push:
    paths-ignore:
      - 'docs/**'
    branches:
      - main
  pull_request:
    paths-ignore:
      - 'docs/**'
    branches:
      - '**'

# Automatically stop old builds on the same branch/PR
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  lint:
    name: Pre-commit Checks
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@19eac09b398e3d0c747adc7921926a6d802df4da # v0.8.1
      - name: Install repository
        # needed for generate-col-ops hook
        run: pixi run postinstall
      - name: pre-commit
        run: pixi run pre-commit run -a --color=always --show-diff-on-failure
      - name: Check pyproject.toml dependencies
        run: pixi run check-deps

  one_test:
    name: One Test
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py313cs
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      docker-services: |
        mssql
        zoo
      pytest-arguments: tests/test_cache/test_basic_cache_invalidation.py::test_change_task_version_table

  smoke_test:
    name: Smoke Test
    needs: [one_test]  # todo: remove
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py312
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      docker-services: |
        postgres
        zoo

  postgres_test:
    name: Postgres Tests
    needs: [smoke_test]
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py310all
          - py311all
          - py312all
          - py313all
          - py310pdt
          - py313pdt
          - py311cspdt
          - py313cspdt
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      docker-services: |
        postgres
        zoo
      pytest-arguments: --polars --ibis --pdtransform


  colspec_test:
    name: ColSpec Tests
    needs: [smoke_test]
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py311cs
          - py313cs
          - py311csdy
          - py313csdy
          - py311dy
          - py313dy
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      docker-services: |
        postgres
        zoo
      pytest-arguments: --pdtransform


  duckdb_test:
    name: DuckDB Tests
    needs: [smoke_test]
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py310all
          - py312all
          - py310pdt
          - py313pdt
          - py311cspdt
          - py313cspdt
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      docker-services: |
        zoo
      pytest-arguments: --duckdb -m duckdb --polars --ibis --pdtransform --no-postgres

  db2_test:
    name: DB2 Tests
    needs: [smoke_test]
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py310ibm
          - py312ibm
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      docker-services: |
        zoo
        ibm_db2
      # --polars and --ibis not supported
      pytest-arguments: --ibm_db2 -m ibm_db2 --pdtransform --no-postgres

  mssql_test:
    name: MSSql Tests
    needs: [smoke_test]
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py310all
          - py311all
          - py310mssqlpdt
          - py313mssqlpdt
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      docker-services: |
        mssql
        zoo
      pytest-arguments: --mssql -m mssql --polars --ibis --pdtransform --no-postgres

  orchestration_test:
    name: Orchestration Tests
    needs: [smoke_test]
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py310dapre
          - py313dapre
          - py311all
          - py311pdsa1all
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      docker-services: |
        prefect
        postgres
        zoo
      pytest-arguments: --dask --prefect -m "dask or prefect"

  pandas1_sqlalchemy1_test:
    name: Pandas 1.x and SQLAlchemy 1.x Tests
    needs: [smoke_test]
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py310pdsa1all
          - py311pdsa1all
    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      docker-services: |
        postgres
        zoo
      pytest-arguments: --polars --ibis --pdtransform

  snowflake_test:
    name: Snowflake Tests
    needs: [smoke_test]
    # snowflake tests are currently not passing
    # TODO: investigate and fix
    if: false
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py311pdsa1all
    uses: ./.github/workflows/test.yml
    secrets:
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
    with:
      os: ${{ matrix.os }}
      environment: ${{ matrix.environment }}
      workers: 1  # tests are often waiting on snowflake
      timeout-minutes: 40
      docker-services: |
        postgres
        zoo
      pytest-arguments: --polars --ibis --pdtransform --snowflake --no-postgres
