on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      environment:
        required: true
        type: string
      docker-services:
        required: false
        type: string
      pytest-arguments:
        required: false
        type: string
      workers:
        default: 4
        type: number
      timeout-minutes:
        default: 30
        type: number
    secrets:
      SNOWFLAKE_PASSWORD:
        required: false
      SNOWFLAKE_ACCOUNT:
        required: false
      SNOWFLAKE_USER:
        required: false

jobs:
  test:
    name: pytest
    runs-on: ${{ inputs.os }}
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e # v0.9.4
        with:
          environments: ${{ inputs.environment }}

      - name: Start Docker Compose
        if: ${{ inputs.docker-services != '' }}
        uses: isbang/compose-action@05da55b2bb8a5a759d1c4732095044bd9018c050 # v2.4.3
        with:
          compose-file: docker-compose.yaml
          services: ${{ inputs.docker-services }}

      - name: Install Microsoft ODBC
        if: ${{ contains(inputs.docker-services, 'mssql') }}
        run: |
          sudo ACCEPT_EULA=Y apt-get install -y msodbcsql18
          sudo ACCEPT_EULA=Y apt-get install -y mssql-tools18
          echo /opt/mssql-tools18/bin >> $GITHUB_PATH

      - name: Test BCP
        if: ${{ contains(inputs.docker-services, 'mssql') }}
        run: bcp -v

      - name: Wait for Docker Servers
        if: ${{ inputs.docker-services != '' }}
        run: |
          # store the (possibly multiline) input in a variable
          services="${{ inputs.docker-services }}"
          # replace every newline with a single space
          services="${services//$'\n'/ }"
          until bash ./.github/scripts/docker_compose_ready.sh ${services}; do
            sleep 1
          done

      - name: Run tests
        env:
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
          SNOWFLAKE_DB_SUFFIX: ${{ inputs.environment }}
          PREFECT_API_URL: http://127.0.0.1:4200/api
          PREFECT_SERVER_ALLOW_EPHEMERAL_MODE: false
          ERROR_ONLY: 1
          LOG_TEST_NAME: 1
        run: |
          pixi run -e ${{ inputs.environment }} pytest tests ${RUNNER_DEBUG:+-v} --color=yes --workers=${{ inputs.workers }} ${{ inputs.pytest-arguments }}
